<!DOCTYPE html>
<html lang="en">

{% load static %}
{% load crispy_forms_tags %}

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Innotech Systems</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="{% static 'css/agency.min.css' %}" rel="stylesheet">



  <style>
  header.masthead {
    background-image: url("{% static 'bg-masthead.jpg' %}");
  }
  section#contact {

    background-image: url("{% static 'map-image.png' %}");

  }

  /* Basic Styling */

  .container2 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px;
    display: flex;
  }

  /* Columns */
  /* Columns */
  .leftc {
    width: 100%;
    height:356px;
    position: relative;
    float: left;

  }

  .rightc {
    width: 100%;
    height: auto;
    margin-left:50px;
  }

  .left-column {
    width: 70%;
    height:auto;
    position: relative;
    float: left;
    margin-right: 20px;

  }

  .right-column {
    width: 30%;
    margin-top: 20px;
    height: auto;
    margin-left:30px;
    border-left: 5px solid lightgrey;

  }

  .product-description {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;

  }
  .product-description span {
    font-size: 35px;
    color: #358ED7;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
  }
  .product-description h1 {
    font-weight: 300;
    font-size: 52px;
    color: #43484D;

  }
  .product-description p {
    font-size: 20px;
    font-weight: 300;
    color: #86939E;
    line-height: 24px;
  }
  .gmap_canvas {
    margin-top: 10px;
  }
  .media-events {
  height: 365px;
  width: 100%;
  padding: 10px;
  overflow-y: scroll;

}

  </style>

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <img src="{% static 'innotech-logo.jpg' %}" alt=""></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#team">Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">Driven To Make</div>
          <div class="intro-heading text-uppercase">Safety & Security Better</div>
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a>
        </div>
      </div>
    </header>

    <!-- Services -->
    <section id="services">
      <div class="container">
        <div class ="container2">
          <div class="left-column" >
            <div class="row">
              <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">What we do?</h2>

              </div>
            </div>
            <div class="row text-center">
              <p>{{ about.summary|safe }}</p>

            </div>
          </div>

          <!-- Right Column -->
          <div class="right-column">
            <h4 class="text-uppercase"> Media & Events </h3>

            <div class="media-events">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-xs col-xm">

                    <ul class="list-unstyled" >
                      {% for media in medias.all  %}

                      <li class="media">
                        <img class="d-flex mr-3" src="{{ media.image.url }}" alt="" style="width:120px">
                        <div class="media-body">
                          <h5 class="mt-0 mb-1 font-weight-bold">{{ media.title }}</h5>
                          {{ media.summary|safe }}
                        </div>
                      </li>


                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </section>

    <!-- Portfolio Grid -->
    <section class="bg-light" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Products</h2>
            <h3 class="section-subheading text-muted"></h3>
          </div>
        </div>
        <div class="row">
          {% for product in products.all|slice:":6" %}
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" href="#" data-toggle="modal" data-target="#product-modal{{ product.id }}">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img src="{{ product.image.url }}" alt="" width="100%" height="225">
            </a>
            <div class="portfolio-caption">
              <h4>{{ product.title }}</h4>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>

    <!-- Team -->
    <section class="bg-light" id="team">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
            <h3 class="section-subheading text-muted"></h3>
          </div>
        </div>
        <div class="row">
          {% for team in teams.all %}
          <div class="col-sm-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="{{ team.image.url }}" alt="">
              <h4>{{ team.name }}</h4>
              <p class="text-muted">{{ team.job_title }}</p>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-linkedin-in"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          {% endfor %}
          <div class="row">
            <div class="col-lg-8 mx-auto text-center">
              <p class="large text-muted"></p>
            </div>
          </div>
        </div>
      </section>

      <!-- Contact -->
      <section id="contact">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading text-uppercase">Contact Us</h2>
              <h3 class="section-subheading text-muted"></h3>
            </div>
          </div>
          <div class ="container2">
            <div class="leftc" align="left">
              <div class="row">
                <div class="col-lg-12">
                  <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="form-actions">
                      <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Send Message</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- Right Column -->
            <div class="rightc" align="right">
              <!-- Product Description -->
              <div class="product-description">
                <span>Visit Us</span>
                <h1><p>70/B (2nd Floor), Green Road,<br />
                  Panthapath, Dhaka-1205<br />
                  Tel:  +88 02 9641404, +88 02 9641405<br />
                  info@innotech-systems.com</p></h1>
                  <p></p>
                </div>

                <div class="mapouter">
                  <div class="gmap_canvas">
                    <iframe width="380" height="285" id="gmap_canvas" src="https://maps.google.com/maps?q=green%20road%20bangladesh&t=&z=15&ie=UTF8&iwloc=&output=embed"
                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div>
                    <style>.mapouter{text-align:right;height:300px;width:450px;}.gmap_canvas {overflow:hidden;background:none!important;height:300px;width:450px;}</style>
                  </div>


                </div>
              </div>
            </div>
          </section>

          <!-- Footer -->
          <footer>
            <div class="container">
              <div class="row">
                <div class="col-md-4">
                  <span class="copyright">Copyright &copy; Innotech Systems 2019</span>
                </div>
                <div class="col-md-4">
                  <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fab fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="https://www.facebook.com/innotechsystemsbd/">
                        <i class="fab fa-facebook-f"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fab fa-linkedin-in"></i>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <ul class="list-inline quicklinks">
                    <li class="list-inline-item">
                      <a href="#">Privacy Policy</a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#">Terms of Use</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </footer>

          <!-- Portfolio Modals -->

          <!-- Modal 1 -->
          <!-- {% for product in products.all %} -->
          <div class="portfolio-modal modal fade" id="product-modal{{ product.id }}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                  <div class="lr">
                    <div class="rl"></div>
                  </div>
                </div>
                <div class="container">
                  <div class="row">
                    <div class="col-lg-8 mx-auto">
                      <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2 class="text-uppercase"> {{ product.title }}</h2>
                        <p class="item-intro text-muted"></p>
                        <img class="img-fluid d-block mx-auto" src="{{ product.image.url }}" alt="" width="80%" height="225">
                        <p>{{ product.summary|safe }}</p>
                        <button class="btn btn-primary" data-dismiss="modal" type="button">
                          <i class="fas fa-times"></i>
                          Close Project</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- {% endfor %} -->



            <!-- Bootstrap core JavaScript -->
            <script src="{% static 'jquery-3.3.1.min.js' %}"></script>
            <script src="{% static 'js/bootstrap.min.js' %}"></script>

            <!-- Plugin JavaScript -->
            <script src="{% static 'jquery-easing/jquery.easing.min.js' %}"></script>
            <script src="{% static 'popper.min.js' %}"></script>

            <!-- Custom scripts for this template -->
            <script src="{% static 'js/agency.min.js' %}"></script>



          </body>

          </html>
